// copyright Shihaab & de Kroe

// includes

// general styling
body {
  margin: 0;
}
* {
  outline: none;
}

.overflow-hidden {
  overflow: hidden;
}

// fonts
@font-face {
  font-family: pfs-bold;
  src: url('../resources/font/PFSSPB.otf');
}

// login styling
.formLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  .loginFormImg {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 30vw;
    top: 337px;
    -webkit-transform: scale(2) rotate(15deg);
    -ms-transform: scale(2) rotate(15deg);
    transform: scale(2) rotate(15deg);
    &::selection {
      background-color: transparent;
    }
  }
  .login-wrap {
    width: 25vw;
    position: absolute;
    left: 37.5vw;
    top: 90px;
    padding: 5%;
    .login-input {
      color: #fff;
      font-family: pfs-bold;
      font-weight: 800;
      position: relative;
      text-align: left;
      line-height: 0;
      margin-left: 20px;

    }
    h1 {
      font-family: pfs-bold;
      color: #fff;
    }
    .register {
      position: relative;
      color: #fff;
      font-family: pfs-bold;
      font-weight: 900;
      font-size: 13px;
      top: -15px;
      margin-left: 20px;
      a {
        text-decoration: underline;
        color: #fff;
        opacity: 1;
        -webkit-transition: .1s;
        -moz-transition: .1s;
        -ms-transition: .1s;
        -o-transition: .1s;
        transition: .1s;
        &:hover {
          opacity: .5;
        }
      }
    }
    .input {
      padding: 10px 20px;
      font-family: pfs-bold;
      color: #fff;
      background-color: #fec800;
      border: 2px solid #fec800;
      border-radius: 25px;
      box-shadow: 0 0 0 #222;
      transition: .1s;
      width: 100%;
      width: -webkit-fill-available;
      width: -moz-available;
      width: fill-available;
      text-align: left;
      font-size: 20px;
      &::-webkit-inner-spin-button,::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover {
        border-style: dot-dash;
        border-color: #fcf0df;
      }
      &:focus {
        box-shadow: 1px 1px 2px #222;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
    .btn-main {
      padding: 10px;
      margin-bottom: 20px;
      font-family: pfs-bold;
      color: #fff;
      background-color: #f18416;
      border: 2px solid #f18416;
      border-radius: 25px;
      box-shadow: 0 0 0 #222;
      transition: .1s;
      width: 100%;
      width: -webkit-fill-available;
      width: -moz-available;
      width: fill-available;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        border-style: dot-dash;
        border-color: #d87114;
      }
      &:active {
        box-shadow: 1px 1px 2px #222;
      }
    }
  }
}

// responsive
@media only screen and (max-width: 1100px) {
  body {
    .formLogin {
      position: relative;
      width: 100vw;
      height: 100vh;
      .loginFormImg {
        width: 40vw;
        height: auto;
        position: absolute;
        left: 12vw;
        top: 400px;
        -webkit-transform: scale(3) rotate(15deg);
        -ms-transform: scale(3) rotate(15deg);
        transform: scale(3) rotate(15deg);
        &::selection {
          background-color: transparent;
        }
      }
      .login-wrap {
        width: 40vw;
        position: absolute;
        left: 30vw;
        top: 90px;
        padding: 5%;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  body {
    .formLogin {
      position: relative;
      width: 100vw;
      height: 100vh;
      .loginFormImg {
        width: 50vw;
        height: auto;
        position: absolute;
        left: 0;
        top: 430px;
        -webkit-transform: scale(3) rotate(15deg);
        -ms-transform: scale(3) rotate(15deg);
        transform: scale(3) rotate(15deg);
        &::selection {
          background-color: transparent;
        }
      }
      .login-wrap {
        width: 60vw;
        position: absolute;
        left: 20vw;
        top: 90px;
        padding: 5%;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  body {
    .formLogin {
      .loginFormImg {
        width: 60vw;
        height: auto;
        position: absolute;
        left: -13vw;
        top: 395px;
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  body {
    .formLogin {
      .loginFormImg {
        width: 64vw;
        height: auto;
        position: absolute;
        left: -16vw;
        top: 390px;
      }
    }
  }
}

// register styling
