// copyright Shihaab & de Kroe

// includes

// general styling
body {
  margin: 0;
}
* {
  outline: none;
}

.overflow-hidden {
  overflow: hidden;
}

// fonts
@font-face {
  font-family: pfs-bold;
  src: url('../resources/font/PFSSPB.otf');
}

// login styling
.formLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../resources/media/Abstract.svg');
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: contain;
  .loginFormImg {
    width: 500px;
    height: auto;
    position: absolute;
    left: 74px;
    top: 267px;
    -webkit-transform: scale(1.6) rotate(15deg);
    -ms-transform: scale(1.6) rotate(15deg);
    transform: scale(1.6) rotate(15deg);
    &::selection {
      background-color: transparent;
    }
  }
  .login-wrap {
    width: 25vw;
    position: absolute;
    left: 225px;
    top: 100px;
    padding: 5%;
    .login-input {
      color: #fff;
      font-family: pfs-bold;
      font-weight: 800;
      position: relative;
      text-align: right;
      line-height: 0;
    }
    h1 {
      font-family: pfs-bold;
      color: #fff;
    }
    .register {
      position: relative;
      color: #fff;
      font-family: pfs-bold;
      font-weight: 900;
      font-size: 13px;
      top: -15px;
      a {
        text-decoration: underline;
        color: #fff;
        opacity: 1;
        -webkit-transition: .1s;
        -moz-transition: .1s;
        -ms-transition: .1s;
        -o-transition: .1s;
        transition: .1s;
        &:hover {
          opacity: .5;
        }
      }
    }
    .password {
      padding: 10px;
      font-family: pfs-bold;
      color: #fff;
      background-color: #fec800;
      border: 2px solid #fec800;
      border-radius: 1px;
      box-shadow: 0 0 0 #222;
      transition: .1s;
      width: -webkit-fill-available;
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      &::-webkit-inner-spin-button,::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover {
        border-style: dot-dash;
        border-color: #fcf0df;
      }
      &:focus {
        box-shadow: 1px 1px 2px #222;
      }
    }
    .email-wrap {
      background-color: #fec800;
      border: 2px solid #fec800;
      border-radius: 1px;
      box-shadow: 0 0 0 #222;
      transition: .1s;
      width: -webkit-fill-available;
      &::-webkit-inner-spin-button,::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover {
        border-style: dot-dash;
        border-color: #fcf0df;
      }
      &:focus-within {
        box-shadow: 1px 1px 2px #222;
      }
      input {
        width: 49%;
        border: none;
        background-color: transparent;
        font-family: pfs-bold;
        color: #fff;
        font-size: 20px;
        text-align: right;
        padding: 10px 0px;
        &:last-of-type {
          text-align: left;
        }
      }
    }
    .btn-main {
      padding: 10px;
      margin-bottom: 20px;
      font-family: pfs-bold;
      color: #fff;
      background-color: #f18416;
      border: 2px solid #f18416;
      border-radius: 1px;
      box-shadow: 0 0 0 #222;
      transition: .1s;
      width: -webkit-fill-available;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        border-style: dot-dash;
        border-color: #d87114;
      }
      &:active {
        box-shadow: 1px 1px 2px #222;
      }
    }
  }
}

// responsive
@media only screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}